<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2020 Nicolas PERANSIN.
 This program and the accompanying materials
 are made available under the terms of the Eclipse Public License 2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/legal/epl-2.0/
 
 SPDX-License-Identifier: EPL-2.0
 
 Contributors:
   Nicolas PERANSIN - initial API and implementation
-->

<plugin>
   
   <!-- A dynamic menu executed after 'sessionManagementActionProvider' -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.mypsycho.emf.modit.sirius.ui.internal.navigator.EditingActionProvider"
            dependsOn="org.eclipse.sirius.ui.sessionManagementActionProvider"
            id="org.mypsycho.emf.modit.sirius.ui.editingActionProvider">
         <enablement>
			<instanceof value="org.eclipse.emf.ecore.EObject" />
         </enablement>
      </actionProvider>
      <!--
      <navigatorContent
            id="org.mypsycho.emf.modit.sirius.ui.saveableContent"
            name="name"
            priority="lower"
            providesSaveables="true">
         <triggerPoints></triggerPoints>
      </navigatorContent>
      -->
   </extension>
   
   <!-- Dynamic menu is applicable to 'Model Explorer'  -->
   <extension point="org.eclipse.ui.navigator.viewer">
   <!--
       <viewerContentBinding viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
        <includes>
           <contentExtension pattern="org.mypsycho.emf.modit.sirius.ui.saveableContent" />
        </includes>
     </viewerContentBinding>
     -->
      <viewerActionBinding viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
         <includes>
            <actionExtension pattern="org.mypsycho.emf.modit.sirius.ui.editingActionProvider" />
         </includes>
      </viewerActionBinding>
   </extension>
   
   <extension point="org.eclipse.sirius.sessionManagerListener">
      <listener class="org.mypsycho.emf.modit.sirius.ui.internal.navigator.MenuActionRegistry$Factory" />
   </extension>


<!-- Required for short-cut ?? 
   <extension
         point="org.eclipse.ui.handlers">

      <handler commandId="org.eclipse.ui.edit.undo"
            class="com.huawei.sirius.autosar.ui.handlers.UndoHandler" >
         <activeWhen>
             <and>
                 <count value="1" />
                 <iterate>
                    <test property="com.huawei.sirius.autosar.core.handlers.isAny" />
                 </iterate>
              </and> 
         </activeWhen>
      </handler>
      
      <handler commandId="org.eclipse.ui.edit.redo"
            class="com.huawei.sirius.autosar.ui.handlers.RedoHandler" >
         <activeWhen>
             <and>
                 <count value="1" />
                 <iterate>
                    <test property="com.huawei.sirius.autosar.core.handlers.isAny" />
                 </iterate>
              </and>
         </activeWhen>
      </handler>
   </extension>
   		
	   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.huawei.sirius.autosar.core.handlers.TreeNodePropertyTester"
            id="com.huawei.sirius.autosar.core.handlers.TreeNodePropertyTester-element"
            namespace="com.huawei.sirius.autosar.core.handlers"
            properties="isAuthorizedFileFormat,isAtomicComponent,isRepresentation,isSemantic,isPackageableElement,isAny,isProject,isClosedProject,isOpenProject,isFolder,isArXml,isPackage,isPhysical,isLoading,isWorkingFile,isAutosar"
            type="com.huawei.sirius.autosar.core.tree.node.TreeNode">
      </propertyTester>
		   </extension>
--> 

</plugin>
