<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="org.mypsycho.emf.modit.sirius.tests.Activator"
            id="org.mypsycho.emf.modit.sirius.tests"
            name="Domain Model">
      </component>
   </extension>

</plugin>
